## Top songs of 2020

### Objective

* The following project has the primary objective of using different algorithms to try to predict the main characteristics of the top songs for 2020.

### Resources

* The data set used comes from [Kaggle (Top Spotify songs from 2010-2019 - BY YEAR)](https://www.kaggle.com/leonardopena/top-spotify-songs-from-20102019-by-year)

In [1]:
import pandas as pd
import plotly.express as px

from utils import get_encoding

In [10]:
DATA_PATH = 'data/top10s.csv'

# Load data
encoding = get_encoding(DATA_PATH)
raw_data = pd.read_csv(DATA_PATH, encoding=encoding)

In [11]:
raw_data.head()

,Unnamed: 0,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,1,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,2,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
2,3,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80
3,4,Bad Romance,Lady Gaga,dance pop,2010,119,92,70,-4,8,71,295,0,4,79
4,5,Just the Way You Are,Bruno Mars,pop,2010,109,84,64,-5,9,43,221,2,4,78

In [7]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 603 entries, 0 to 602
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  603 non-null    int64
 1   title       603 non-null    object
 2   artist      603 non-null    object
 3   top genre   603 non-null    object
 4   year        603 non-null    int64
 5   bpm         603 non-null    int64
 6   nrgy        603 non-null    int64
 7   dnce        603 non-null    int64
 8   dB          603 non-null    int64
 9   live        603 non-null    int64
 10  val         603 non-null    int64
 11  dur         603 non-null    int64
 12  acous       603 non-null    int64
 13  spch        603 non-null    int64
 14  pop         603 non-null    int64
dtypes: int64(12), object(3)
memory usage: 70.8+ KB

In [12]:
data = raw_data.loc[:, 'title':'pop']
data.head()

,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
2,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80
3,Bad Romance,Lady Gaga,dance pop,2010,119,92,70,-4,8,71,295,0,4,79
4,Just the Way You Are,Bruno Mars,pop,2010,109,84,64,-5,9,43,221,2,4,78

In [13]:
data['top genre'].value_counts()

dance pop                    327
pop                           60
canadian pop                  34
barbadian pop                 15
boy band                      15
electropop                    13
british soul                  11
big room                      10
neo mellow                     9
canadian contemporary r&b      9
art pop                        8
australian dance               6
hip pop                        6
complextro                     6
australian pop                 5
edm                            5
atl hip hop                    5
permanent wave                 4
latin                          4
hip hop                        4
tropical house                 3
colombian pop                  3
acoustic pop                   2
electronic trap                2
candy pop                      2
escape room                    2
electro                        2
indie pop                      2
belgian edm                    2
canadian hip hop               2
downtempo                      2
baroque pop                    2
brostep                        2
detroit hip hop                2
folk-pop                       2
hollywood                      1
danish pop                     1
metropopolis                   1
contemporary country           1
australian hip hop             1
electro house                  1
french indie pop               1
alaska indie                   1
chicago rap                    1
celtic rock                    1
house                          1
alternative r&b                1
moroccan pop                   1
canadian latin                 1
irish singer-songwriter        1
Name: top genre, dtype: int64